<h1>Bands</h1>
<form action="<%= new_band_url %>" method="get">
  <%= auth_token %>
  <input type="submit" value="New" class='button'>
</form>

<table class='table'>

<% @bands.each do |band| %>
  <tr class='band_show'>
    <td><%= band.name %></td>
    <td class='table-buttons'><a href="<%= band_albums_url(band.id) %>" class='button-outline'> albums </a>
    <a href="<%= edit_band_url(band) %>" class='button-outline'> edit </a>
    <form action="<%= band_url(band) %>" method="post">
      <%= auth_token %>
      <input type="hidden" name='_method' value='DELETE'>
      <input type="submit" value="Delete" class='button-outline'>
    </form></td>
  </tr>
<% end %>
</table>
