
<h1>Sign In</h1>

<%= render 'errors' %>
<div class='form'>
  <form action="<%= session_url %>" method="post">
    <%= auth_token %>
    <label for="email">Email</label>
    <input id="email" type="text" name="email" value="<%= @user.email %>" placeholder="email">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" value="<%= @user.password %>" placeholder="password">
    <input type="submit" value="Sign In" class="button submit">
  </form>
</div>
